@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

.container-1 {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container-1 {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

.navbar ul li .nav-link {
  color: #565E6C;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.navbar .btn-1 {
  color: #00BDD6;
  background-color: #FFFFFF;
  border: none;
  font-family: "Inter", sans-serif;
}
.navbar .btn {
  background-color: #00BDD6;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.section-1 .container {
  display: flex;
  flex-direction: row;
}
.section-1 h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 56px;
  line-height: 78px;
  font-weight: bold;
}
.section-1 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #9095A0;
}
.section-1 form input {
  background-color: #eaecef;
  width: 269px;
  height: 36px;
  border-radius: 4px, 0px, 0px, 4px;
  color: #bcc1ca;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 7px 129px 6px 34px;
}
.section-1 form .input-2 {
  background-color: #00BDD6;
  color: #ffffff;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: absolute;
}
.section-1 .img {
  margin-left: 100px;
  width: 100%;
}

.section-2 {
  margin-top: 100px;
}
.section-2 .container {
  display: flex;
}
.section-2 .container h2 {
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.section-2 .container p {
  font-family: "Inter", sans-serif;
  color: #9095A0;
  font-weight: 400;
  line-height: 30px;
}
.section-2 .container .border {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.section-2 .container .border h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.section-2 .container .border p {
  font-family: "Inter", sans-serif;
}
.section-2 .container button {
  background-color: #00BDD6;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 100px;
}
.section-2 .container .container-1 {
  width: 720px;
  margin-top: 300px;
  margin-left: 100px;
}

.section-3 {
  margin-top: 100px;
}
.section-3 .container {
  display: flex;
}
.section-3 .container h3 {
  color: #171A1F;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.section-3 .container p {
  color: #9095A0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}
.section-3 .container img {
  margin-left: 100px;
}

.section-4 .container .carousel-item {
  height: 32rem;
  background-color: #EBFDFF;
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
}
.section-4 .container .carousel-item h6 {
  color: #171A1F;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: "Epilogue", sans-serif;
}
.section-4 .container .carousel-item p {
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.section-4 .container .carousel-item img {
  text-align: center;
}
.section-4 .container .carousel-control-prev {
  background-color: #EBFDFF;
  color: #9095A0;
  font-weight: bold;
  border: none;
}
.section-4 .container .carousel-control-next {
  background-color: #EBFDFF;
  color: #9095A0;
  font-weight: bold;
  border: none;
}

.section-5 .container h5 {
  font-weight: bold;
  color: #171A1F;
  font-family: "Epilogue", sans-serif;
  font-size: 56px;
  text-align: center;
}
.section-5 .container p {
  font-family: "Inter", sans-serif;
  color: #9095A0;
  font-weight: 400;
  text-align: center;
}

.section-6 .container {
  display: flex;
}
.section-6 .container .section-6-group {
  margin-left: 100px;
  margin-top: 350px;
}
.section-6 .container .section-6-group h6 {
  font-size: 20px;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
}
.section-6 .container .section-6-group P {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  white-space: nowrap;
}
.section-6 .container .section-6-group form input {
  background-color: #eaecef;
  width: 269px;
  height: 36px;
  border-radius: 4px, 0px, 0px, 4px;
  color: #bcc1ca;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 7px 129px 6px 34px;
}
.section-6 .container .section-6-group form .input-2 {
  background-color: #00BDD6;
  color: #ffffff;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: absolute;
}

footer .container {
  margin-top: 100px;
}
footer .container .banner {
  height: 30%;
  width: 100%;
  background-color: #424955;
}
footer .container .banner p {
  color: #FFFFFF;
  white-space: nowrap;
}
footer .social-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .social-footer .list {
  display: flex;
}
footer .social-footer .list ul {
  list-style: none;
}
footer .social-footer .list ul li {
  margin-top: 10px;
}/*# sourceMappingURL=styles.css.map */