@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

$Epilogue: 'Epilogue', sans-serif;
$Inter: 'Inter', sans-serif;

//blue
$babyBlue: #00BDD6;
$skyBlue: #EBFDFF;

//grey
$grey100:#565E6C;
$grey200:#9095A0;
$grey300:#424955;
$lightGrey: #EAECEF;
$lightGrey100: #F3F4F6;
$lightGrey200:#F8F9FA;
$ligtGrey300: #FAFAFB;

//white
$white100:#FFFFFF;

//black
$black100: #171A1F;
$black200: #1D2128;

$lightGrey300: yellow;