@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

.container-1 {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container-1 {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

.navbar ul li .nav-link {
  color: #565E6C;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.navbar .btn-1 {
  color: #00BDD6;
  background-color: #FFFFFF;
  border: none;
  font-family: "Inter", sans-serif;
}
.navbar .btn {
  background-color: #00BDD6;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.section-1 #fadeElement {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.section-1 .container {
  display: flex;
  flex-direction: row;
}
.section-1 .container .fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.section-1 h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 56px;
  line-height: 78px;
  font-weight: bold;
}
.section-1 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font: 18px;
  color: #6E7787;
}
.section-1 form input {
  background-color: #eaecef;
  width: 269px;
  height: 36px;
  border-radius: 4px, 0px, 0px, 4px;
  color: #bcc1ca;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 7px 129px 6px 34px;
}
.section-1 form .input-2 {
  background-color: #00BDD6;
  color: #ffffff;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: absolute;
}
.section-1 .img-1 {
  margin-left: 100px;
  width: 150%;
}

.section-2 {
  margin-top: 100px;
}
.section-2 .container {
  display: flex;
}
.section-2 .container h2 {
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
  font-size: 64px;
}
.section-2 .container p {
  font-family: "Inter", sans-serif;
  color: #6E7787;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.section-2 .container .border {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
}
.section-2 .container .border h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.section-2 .container .border p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.section-2 .container button {
  background-color: #00BDD6;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 100px;
}
.section-2 .container .container-2 {
  width: 720px;
  margin-top: 300px;
  margin-left: 100px;
}

.section-3 {
  margin-top: 100px;
}
.section-3 .container {
  display: flex;
  flex-direction: row;
}
.section-3 .container .about-us {
  color: #171A1F;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
  font-size: 64px;
}
.section-3 .container h3 {
  color: #171A1F;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.section-3 .container p {
  color: #6E7787;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 18px;
}
.section-3 .container img {
  margin-left: 100px;
  margin-top: 250px;
}

.section-4 .container .carousel-item {
  height: 32rem;
  background-color: #EBFDFF;
  padding-top: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 180px;
  padding-right: 180px;
}
.section-4 .container .carousel-item h6 {
  color: #171A1F;
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  font-family: "Epilogue", sans-serif;
}
.section-4 .container .carousel-item p {
  font-weight: 400;
  font-size: 24px;
  color: #171A1F;
  line-height: 36px;
  text-align: center;
}
.section-4 .container .carousel-item img {
  text-align: center;
}
.section-4 .container .carousel-control-prev {
  background-color: #EBFDFF;
  color: transparent;
  font-weight: bold;
  border: none;
}
.section-4 .container .carousel-control-next {
  background-color: #EBFDFF;
  color: #6E7787;
  font-weight: bold;
  border: none;
}

.section-5 .container h5 {
  font-weight: bold;
  color: #171A1F;
  font-family: "Epilogue", sans-serif;
  font-size: 56px;
  text-align: center;
}
.section-5 .container p {
  font-family: "Inter", sans-serif;
  color: #6E7787;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}
.section-5 .container .card-body {
  box-sizing: border-box;
  height: 320px;
}

.section-6 .container {
  display: flex;
}
.section-6 .container .section-6-group {
  margin-left: 90px;
  margin-top: 35px;
}
.section-6 .container .section-6-group h6 {
  font-size: 64px;
  font-family: "Epilogue", sans-serif;
  line-height: 84px;
  font-weight: bold;
  white-space: nowrap;
}
.section-6 .container .section-6-group P {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  white-space: wrap;
  text-align: left;
  font-size: 18px;
}
.section-6 .container .section-6-group form input {
  background-color: #eaecef;
  width: 269px;
  height: 36px;
  border-radius: 4px, 0px, 0px, 4px;
  color: #bcc1ca;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 7px 129px 6px 34px;
}
.section-6 .container .section-6-group form .input-2 {
  background-color: #00BDD6;
  color: #ffffff;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: absolute;
}

footer .container {
  margin-top: 100px;
}
footer .container .banner {
  height: 72px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  background-color: #171A1F;
}
footer .container .banner p {
  color: #FFFFFF;
  white-space: nowrap;
  font-size: 24px;
}
footer .social-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .social-footer .list {
  display: flex;
}
footer .social-footer .list ul {
  list-style: none;
}
footer .social-footer .list ul li {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  color: #171A1F;
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar .container-fluid {
    padding: 3px 18px !important;
  }
  .navbar .container-fluid a img {
    width: 100px;
  }
  .navbar .container-fluid .navbar-toggler {
    border: 1px solid #171A1F;
  }
  .navbar .container-fluid .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar .container-fluid .item-links ul {
    padding-top: 10px;
    display: flex;
    gap: 0;
  }
  .navbar .container-fluid .item-links .items-btns {
    padding: 10px 0 15px;
  }
  .navbar .container-fluid .item-links .items-btns button:nth-child(1) {
    color: white;
    background-color: #00BDD6;
    padding: 8px 18px;
  }
  .navbar .container-fluid .item-links .items-btns button:nth-child(2) {
    background-color: #00BDD6;
    padding: 8px 18px;
  }
  .section-1 .container {
    display: flex;
    flex-direction: column;
  }
  .section-1 .container h1 {
    font-size: 28px;
    text-align: center;
    line-height: 30px;
  }
  .section-1 .container p {
    text-align: center;
  }
  .section-1 .img-1 {
    margin-top: 30px;
    margin-left: 5px;
    width: 100%;
  }
  .section-1 form {
    margin-left: 25px;
  }
  .section-2 {
    margin-top: 100px;
  }
  .section-2 .container {
    display: flex;
    flex-direction: column;
  }
  .section-2 .container .heading-2 {
    text-align: center;
    font-weight: bold;
    font-family: "Epilogue", sans-serif;
    font-size: 28px;
  }
  .section-2 .container .paragraph-2 {
    text-align: center;
  }
  .section-2 .container .border {
    margin-left: -100px;
    overflow: hidden;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
  }
  .section-2 .container .border h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: "Epilogue", sans-serif;
  }
  .section-2 .container .border p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  .section-2 .container button {
    background-color: #00BDD6;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 155px;
  }
  .section-2 .container .container-2 {
    width: 440px;
    margin-top: 100px;
    margin-left: 100px;
  }
  .section-3 {
    margin-top: 100px;
  }
  .section-3 .container {
    display: flex;
    flex-direction: column;
  }
  .section-3 .container .about-us {
    color: #171A1F;
    font-weight: bold;
    font-family: "Epilogue", sans-serif;
    font-size: 28px;
  }
  .section-3 .container h3 {
    text-align: center;
    color: #171A1F;
    font-weight: bold;
    font-family: "Epilogue", sans-serif;
    font-size: 28px;
  }
  .section-3 .container p {
    text-align: center;
    color: #6E7787;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    font-size: 18px;
  }
  .section-3 .container img {
    margin-left: 0;
    margin-top: 0;
  }
  .section-4 .container .carousel-item {
    height: 37rem;
    background-color: #EBFDFF;
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .section-4 .container .carousel-item h6 {
    color: #171A1F;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    font-family: "Epilogue", sans-serif;
  }
  .section-4 .container .carousel-item p {
    font-weight: 400;
    font-size: 18px;
    color: #171A1F;
    line-height: 36px;
    text-align: center;
  }
  .section-4 .container .carousel-item img {
    text-align: center;
  }
  .section-4 .container .carousel-control-prev {
    background-color: #EBFDFF;
    color: #6E7787;
    font-weight: bold;
    border: none;
  }
  .section-4 .container .carousel-control-next {
    background-color: #EBFDFF;
    color: #6E7787;
    font-weight: bold;
    border: none;
  }
  .section-5 .container h5 {
    font-weight: bold;
    color: #171A1F;
    font-family: "Epilogue", sans-serif;
    font-size: 28px;
    text-align: center;
  }
  .section-5 .container p {
    font-family: "Inter", sans-serif;
    color: #6E7787;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
  }
  .section-5 .container .card-body {
    box-sizing: border-box;
    height: 320px;
  }
  .section-5 img {
    width: 100%;
  }
  .section-5 .first-item {
    text-align: center;
  }
  .section-5 .second-item {
    text-align: center;
  }
  .section-6 .container {
    display: flex;
    flex-direction: column;
  }
  .section-6 .container .section-6-group {
    margin-left: 90px;
    margin-top: 35px;
  }
  .section-6 .container .section-6-group h6 {
    font-size: 28px;
    font-family: "Epilogue", sans-serif;
    line-height: 30px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
  }
  .section-6 .container .section-6-group P {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    white-space: wrap;
    text-align: left;
    font-size: 18px;
    text-align: center;
  }
  .section-6 .container .section-6-group form input {
    background-color: #eaecef;
    width: 269px;
    height: 36px;
    border-radius: 4px, 0px, 0px, 4px;
    color: #bcc1ca;
    font-size: 14px;
    line-height: 22px;
    border: none;
    padding: 7px 129px 6px 34px;
  }
  .section-6 .container .section-6-group form .input-2 {
    background-color: #00BDD6;
    color: #ffffff;
    padding: 7px 23px 7px 24px;
    width: 114px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    border: none;
    position: absolute;
  }
  footer .container {
    margin-top: 100px;
  }
  footer .container .footer-text {
    display: none;
  }
  footer .container img {
    display: none;
  }
  footer .container .banner {
    height: 72px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    background-color: #171A1F;
  }
  footer .container .banner p {
    color: #FFFFFF;
    white-space: nowrap;
    font-size: 18px;
  }
  footer .social-footer {
    justify-content: space-between;
  }
  footer .social-footer .list {
    display: flex;
  }
  footer .social-footer .list ul {
    list-style: none;
  }
  footer .social-footer .list ul li {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 22px;
    font-size: 18px;
    color: #171A1F;
    cursor: pointer;
  }
}
/*






footer{
  .container{
    margin-top: 100px;
    .banner{
      height: 72px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      background-color: $black100;

      p{
        color: $white100;
        white-space: nowrap;
        font-size: 18px;

      }
    }
  }
  .social-footer{
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    .list{
      display:flex;
      ul{
        list-style: none;
        li{
          margin-top: 10px;
          font-family: $Inter;
          font-weight: 500;
          line-height: 22px;
          font-size: 18px;
          color:$black100;
          cursor: pointer;
        }
      }
    }
  }
}*//*# sourceMappingURL=styles.css.map */