@import "./globals";
@import "./variables";


.navbar{
  ul{
    li{
      .nav-link{
        color: $grey100;
        font-family: $Inter;
        cursor: pointer;
      }
    }
  }
  .btn-1{
    color:$babyBlue;
    background-color: $white100;
    border:none;
    font-family: $Inter;
  }
  .btn{
    background-color: $babyBlue;
    color: $white100;
    font-family: $Inter;
  }
}



.section-1{
  #fadeElement{
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .container{
    display: flex;
    flex-direction: row;
    .fade-in{
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }
  
  }
  h1{
    font-family: $Epilogue;
    font-size: 56px;
    line-height: 78px;
    font-weight: bold;
  }
  p{
    font-family: $Inter;
    font-weight: 400;
    line-height: 28px;
    font: 18px;
    color: $grey400;
  }
  form{
    input{
      background-color: #eaecef;
            width: 269px;
            height: 36px;
            border-radius: 4px, 0px, 0px, 4px;
            color: #bcc1ca;
            font-size: 14px;
            line-height: 22px;
            border: none;
            padding: 7px 129px 6px 34px;
    }
    .input-2{
      background-color: $babyBlue;
      color: #ffffff;
      padding: 7px 23px 7px 24px;
      width: 114px;
      height: 36px;
      border-radius: 0 4px 4px 0;
      border: none;
      position: absolute;
    }
  }
  .img-1{
    margin-left: 100px;
    width: 150%;
    
  }
}


.section-2{
  margin-top: 100px;
  .container{
    display:flex;
    h2{
      font-weight: bold;
      font-family: $Epilogue;
      font-size: 64px;
      
    }
    p{
      font-family: $Inter;
      color: $grey400;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
    .border{
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      height: 200px;
      width: 100%;
      h2{
        font-size: 20px;
        font-weight: bold;
        font-family: $Epilogue;
        //white-space: nowrap;
      }
      p{
       font-family: $Inter;
       font-size: 14px;
      }
    }
    button{
      background-color: $babyBlue;
      color:$white100;
      border-radius: 4px;
      border:none;
      padding: 10px;
      margin-top: 10px;
      margin-left: 100px;
    }
    .container-2{
      width: 720px;
      margin-top: 300px;
      margin-left: 100px;
    }
  }
}

.section-3{
  margin-top: 100px;
  .container{
    display: flex;
   flex-direction: row;
    .about-us{
      color: $black100;
      font-weight: bold;
      font-family: $Epilogue;
      font-size: 64px;
    }
    h3{
      color: $black100;
      font-weight: bold;
      font-family: $Epilogue;
    }
    p{
      color: $grey400;
      font-weight: 400;
      font-family: $Inter;
      line-height: 30px;
      font-size: 18px;

    }
    img{
      margin-left: 100px;
     margin-top: 250px;
    }

  }
}

.section-4{
  .container{
    .carousel-item{
      height: 32rem;
      background-color: $skyBlue;
      padding-top: 0%;
      padding-top: 30px;
      padding-bottom: 30px ;
      padding-left: 180px;
      padding-right: 180px;
     
      h6{
        color: $black100;
        font-weight: bold;
        text-align: center;
        font-size: 64px;
        font-family: $Epilogue;
      }
      p{
        font-weight: 400;
        font-size: 24px;
        color: $black100;
        line-height: 36px;
        text-align: center;

      }
      img{
        text-align: center;
      }
      
    }
    .carousel-control-prev{
      background-color: $skyBlue;
      color:transparent;
      font-weight: bold;
      border:none;

    }
    .carousel-control-next{
      background-color: $skyBlue;
      color:$grey400;
      font-weight: bold;
      border: none;
    }
  }
}

.section-5{
  .container{
    h5{
      font-weight: bold;
      color: $black100;
      font-family: $Epilogue;
      font-size: 56px;
      text-align: center;
    }
    p{
      font-family: $Inter;
      color: $grey400;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
    }
    .card-body{
      box-sizing: border-box;
      height: 320px;
    }

  }
}

.section-6{
  .container{
    display: flex;
    .section-6-group{
      margin-left: 90px;
      margin-top: 35px;
      h6{
        font-size: 64px;
        font-family: $Epilogue;
        line-height: 84px;
        font-weight: bold;
        white-space: nowrap;
      }
      P{
        font-family: $Inter;
        font-weight: 400px;
        white-space: wrap;
        text-align: left;
        font-size: 18px;

      }
      form{
        input{
              
                background-color: #eaecef;
                width: 269px;
                height: 36px;
                border-radius: 4px, 0px, 0px, 4px;
                color: #bcc1ca;
                font-size: 14px;
                line-height: 22px;
                border: none;
                padding: 7px 129px 6px 34px;
        }
        .input-2{
          background-color: $babyBlue;
          color: #ffffff;
          padding: 7px 23px 7px 24px;
          width: 114px;
          height: 36px;
          border-radius: 0 4px 4px 0;
          border: none;
          position: absolute;
        }
    }
  }
}
}


footer{
  .container{
    margin-top: 100px;
    .banner{
      height: 72px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      background-color: $black100;

      p{
        color: $white100;
        white-space: nowrap;
        font-size: 24px;
        
      }
    }
  }
  .social-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .list{
      display:flex;
      ul{
        list-style: none;
        li{
          margin-top: 10px;
          font-family: $Inter;
          font-weight: 500;
          line-height: 22px;
          font-size: 14px;
          color:$black100;
          cursor: pointer;
        }
      }
    }
  }
}















@media (max-width: 576px){

  .navbar {
    .container-fluid {
      // .navbar is the main element that contains all the navbar content. Within it, .container-fluid has the following properties: => when the website is in mobile view

      // padding: 3px 18px !important; sets the padding to 3px top and bottom, and 18px left and right. The !important flag overrides any other padding rules that might be applied to this element. => when the website is in mobile view
      padding: 3px 18px !important;
      a {
        img {
          // Within .container-fluid, any a element containing an img element will have its width set to 100px. => when the website is in mobile view
          width: 100px;
        }
      }
      .navbar-toggler {
        // border: 1px solid $babyBlue; sets a 1px solid border with the color defined by the $babyBlue variable. => when the website is in mobile view
        // &:focus applies styles when the toggler is focused: => when the website is in mobile view
        // box-shadow: none !important; removes any box-shadow, overriding other styles with !important. => when the website is in mobile view
        border: 1px solid $black100;
        &:focus {
          box-shadow: none !important;
        }
      }
      .item-links {
        ul {
          // padding-top: 10px; adds 10px of padding to the top. => when the website is in mobile view
          // display: flex; sets the ul to use flexbox layout. => when the website is in mobile view
          // gap: 0; removes any gap between flex items. => when the website is in mobile view
          padding-top: 10px;
          display: flex;
          gap: 0;
        }
        .items-btns {
          // .items-btns styles the buttons within it with:  => when the website is in mobile view

          // padding: 10px 0 15px; adds 10px padding at the top, 15px at the bottom, and no padding on the sides. => when the website is in mobile view

          padding: 10px 0 15px;
          button:nth-child(1) {
            // button:nth-child(1) applies styles to the first child button: => when the website is in mobile view
            // color: white; sets the text color to white. => when the website is in mobile view
            // background-color: $babyBlue; sets the background color using the $babyBlue variable. => when the website is in mobile view
            // padding: 8px 18px; adds 8px padding top and bottom, and 18px left and right. => when the website is in mobile view
            color: white;
            background-color: $babyBlue;
            padding: 8px 18px;
          }
          button:nth-child(2) {
            // button:nth-child(2) applies styles to the second child button: => when the website is in mobile view
            // background-color: $babyBlue; sets the background color using the $babyBlue variable => when the website is in mobile view.
            // padding: 8px 18px; adds 8px padding top and bottom, and 18px left and right => when the website is in mobile view.
            background-color: $babyBlue;
            padding: 8px 18px;
          }
        }
      }
    }
  }


 .section-1{
  .container{
    display: flex;
    flex-direction: column;
    h1{
      font-size: 28px;
      text-align: center;
      line-height: 30px;
    }
    p{
      text-align: center;
    }
    
  }
    .img-1{
      margin-top: 30px;
      margin-left:  5px;
      width: 100%;
      
    }
    form{
      margin-left: 25px;
    }
 }



 .section-2{
  margin-top: 100px;
  .container{
    display:flex;
    flex-direction: column;
    .heading-2{
      text-align: center;
      font-weight: bold;
      font-family: $Epilogue;
      font-size: 28px;
     
    }
    .paragraph-2{
      text-align: center;
    }
  
    .border{
      margin-left: -100px;
      overflow: hidden;
      box-sizing: border-box;
      height: 200px;
      width: 100%;
      h2{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        font-family: $Epilogue;
        
      }
      p{
        text-align: center;
       font-family: $Inter;
       font-size: 14px;
      }
    }
    button{
      background-color: $babyBlue;
      color:$white100;
      border-radius: 4px;
      border:none;
      padding: 10px;
      margin-top: 10px;
      margin-left: 155px;
    }
    .container-2{
      width: 440px;
      margin-top: 100px;
      margin-left: 100px;
    }
  }
}

.section-3{
  margin-top: 100px;
  .container{
    display: flex;
    flex-direction: column;
    
    .about-us{
      color: $black100;
      font-weight: bold;
      font-family: $Epilogue;
      font-size: 28px;
    }
    h3{
      text-align: center;
      color: $black100;
      font-weight: bold;
      font-family: $Epilogue;
      font-size: 28px;
    }
    p{
      text-align:center ;
      color: $grey400;
      font-weight: 400;
      font-family: $Inter;
      line-height: 30px;
      font-size: 18px;

    }
    img{
      margin-left: 0;
      margin-top: 0;
    }
    
  }
}

.section-4{
  .container{
    .carousel-item{
      height: 37rem;
      background-color: $skyBlue;
      padding-top: 8%;
      padding-left: 15%;;
      padding-right: 15%;
      
      h6{
        color: $black100;
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        font-family: $Epilogue;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: $black100;
        line-height: 36px;
        text-align: center;

      }
      img{
        text-align: center;
      }
      
    }
    .carousel-control-prev{
      background-color: $skyBlue;
      color:$grey400;
      font-weight: bold;
      border:none;
    }
    .carousel-control-next{
      background-color: $skyBlue;
      color:$grey400;
      font-weight: bold;
      border: none;
    }
  }
}

.section-5{
  .container{
    h5{
      font-weight: bold;
      color: $black100;
      font-family: $Epilogue;
      font-size: 28px;
      text-align: center;
    }
    p{
      font-family: $Inter;
      color: $grey400;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
    }
    .card-body{
      box-sizing: border-box;
      height: 320px;
    }
  
  }
  img{
    width: 100%;
  }
  .first-item{
    text-align: center;
  }
  .second-item{
    text-align: center;
  }
}


.section-6{
  .container{
    display: flex;
    flex-direction: column;
    .section-6-group{
      margin-left: 90px;
      margin-top: 35px;
      h6{
        font-size: 28px;
        font-family: $Epilogue;
        line-height: 30px;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
      }
      P{
        font-family: $Inter;
        font-weight: 400px;
        white-space: wrap;
        text-align: left;
        font-size: 18px;
        text-align: center;

      }
      form{
        input{
              
                background-color: #eaecef;
                width: 269px;
                height: 36px;
                border-radius: 4px, 0px, 0px, 4px;
                color: #bcc1ca;
                font-size: 14px;
                line-height: 22px;
                border: none;
                padding: 7px 129px 6px 34px;
        }
        .input-2{
          background-color: $babyBlue;
          color: #ffffff;
          padding: 7px 23px 7px 24px;
          width: 114px;
          height: 36px;
          border-radius: 0 4px 4px 0;
          border: none;
          position: absolute;
        }
    }
  }
}
}


 
footer{
  .container{
    .footer-text{
      display: none;
    }
    img{
      display: none;
    }
    margin-top: 100px;
    .banner{
      height: 72px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      background-color: $black100;

      p{
        color: $white100;
        white-space: nowrap;
        font-size: 18px;
        
      }
    }
  }
  .social-footer{
   
    justify-content: space-between;
    .list{
      display:flex;
     
    
      ul{
        list-style: none;
        li{
          margin-top: 20px;
          font-family: $Inter;
          font-weight: 500;
          line-height: 22px;
          font-size: 18px;
          color:$black100;
          cursor: pointer;
        }
      }
      }
    }

  }

}











  /*
  
 
  
  
 
  
  footer{
    .container{
      margin-top: 100px;
      .banner{
        height: 72px;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 100%;
        background-color: $black100;
  
        p{
          color: $white100;
          white-space: nowrap;
          font-size: 18px;
          
        }
      }
    }
    .social-footer{
      display: flex;
      //flex-direction: column;
      justify-content: space-between;
      .list{
        display:flex;
        ul{
          list-style: none;
          li{
            margin-top: 10px;
            font-family: $Inter;
            font-weight: 500;
            line-height: 22px;
            font-size: 18px;
            color:$black100;
            cursor: pointer;
          }
        }
      }
    }
  }*/
  
  
